@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Rokkitt');

body {
    font-family: 'Rokkitt', serif;
    background: 
    /* gradient tan-to-pink */ 
    linear-gradient(
      rgba(30, 0, 0, 0.35), 
      rgba(255, 0, 0, 0.45)
    ),
    /* background image */
url("../img/eight_horns.png");
  background-attachment: fixed;
}

img {
  width: 15%;
  margin: 10px;
  border-radius: 25px;
  border: 3px dotted gray;
}

img:hover {
	opacity: .5;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.about:hover {
  transform: scale(1);
}

.profile {
   background: rgba(255,255,255,0.65);
   border-radius: 25px;
  border: 5px double gray;
  margin: 10px;
  padding: 10px;
}

.education, .moreinfo, .intro {
  background: rgba(255,255,255,0.65);
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: 5px double gray;
  margin-top: 10px;
}

.experience {
  background: rgba(255,255,255,0.65);
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: 5px double gray;
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

.sociallinks {
	text-align: center; 
}

.sociallinks img {
	border-radius: 50%;
	width: 70px; 
	text-decoration: none; 
}

/* Top nav bar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcoral;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
    transition: background 0.5s;
}

/* End of nav bar styling */

.indent {
  margin-left: 50px;
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
  
  .education {
    float: right;
    width: 45%;
    display: inline-block;
  }
  
  .experience {
    float: left;
    width: 45%;
    display: inline-block;
  }
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {


}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 

}
