@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Acme|Alice|Josefin+Sans');
 
@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Courgette|Josefin+Slab');

/* Basic Styling  */

h1, h2, h3, h4 {
  font-family: 'Courgette', cursive;
}

p {
  font-family: 'Antic Slab', serif;
}

body {
  background-image: url("../img/floral.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden; 
   background-color: #ffd8e3;
}

/* Link Styling */

a:link {
	color: #dc6075;
	text-decoration: none; 
}

a:hover {
	color: #8d5e80;
}

/* Home Page Styling */

.welcome {
	margin: 10px;
	padding: 10px;
}

.welcome img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid gray;
  transition: filter 1.5s;
  margin-top: 100px; 
}

.welcome:hover img {
  filter: grayscale(100%);
  transition: filter 1.5s;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px white;
  text-align: center;
  transition: color 1s;
}

h1:hover {
  color: #886584;
  transition: color 1s;
}

/* Contact Page Styling */

.sociallinks {
	text-align: center; 
}

.sociallinks a {
	border-radius: 50%;
	width: 80px; 
	text-decoration: none; 
	border: 0;
}

.socaillinks:hover a {
	transform: scale(1.5);
}

.indent {
  margin-left: 50px;
}

.tele {
	text-align: center; 
}

/* Copyright Styling */

 div.terms{
    display:block;
    position: fixed;
    bottom:0;
    right:0;
    width:100%;
    background: rgba(164, 136, 165, 0.74);
}

/* Attribute Selection */
/* Email Form Styling */

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

form {
  background: #90a372;
  padding: 1em;
  width: 400px;
  border-radius: 25px;
  margin: 0 auto; 
}

form h1 {
  text-align: center;
}

input {
  display: block;
  margin: 1em;
}

input[type="text"] {
  padding: .25em;
  border: 0;
  background: white;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto 20px;
}

label {
  font-size: 1em;
  font-family: 'Alice', serif;
}

textarea {
  background: white;
  border: 0;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto 10px;
}

input[type="submit"] {
  font-size: 1.5em;
  background: #d11c39;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: #fed6dd;
}

textarea:focus {
  background: #fed6dd;
}

input[type="submit"]:hover {
  background: #a1d1c4;
}

/*   border:1px solid #a488a5; */

/* PORTFOLIO STYLING */
/* Global */
* {
  box-sizing: border-box;
}

/* Layout with Flexbox */
.gallery {
 display: flex;
 flex-flow: row wrap;
}

figure {
  background: #a3d1c4;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  /* Set `flex-basis` to any value */
  flex: 1 0 300px;
  border: 3px solid gray;
  
  /* Child & Also Parent   */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  transition: background 1s;
}

/* Specific Gallery Styling. Have Fun! */
figure img {
border: 2px solid gray;
width: 200px;
transition: transform .5s;
}

figure:hover {
  background: #d8b3d2;
  transition: background 1s;
}

figure:hover img {
  transform: rotate(5.5deg);
  transition: transform .5s;
}

figure p {
  color: gray;
  font-family: 'Antic Slab', serif;
}

/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
/* Overlay Styling   */
  background:rgba(75,0,25,.85);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

/* show */
.overlay:target {
  display: block;
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;  
    
}

/* Close Button  */
.overlay a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
/* ---------------------------------------------------------------------- */
/* Home Page Styling */

.name {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.8em;
}

/* Top Nav Styling */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
    display: flex; 
    font-size: 1.2em;
   margin-top: 20px;
   font-weight: bold;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(189, 86, 100, 0.66);
    transition: background 0.5s;
    color: white; 
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
  
/* Home Page Styling */
	
  .here {
  margin-left: 350px;
    margin-top: 150px;
}

  .welcome img {
  width: 30%;
  float: left;
  border-radius: 50%;
  border: 5px solid gray;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px; 
  margin-top: 100px; 
  box-shadow: 3px 3px 2px 2px gray;
}
  .name h1 {
   text-shadow: 3px 2px white,
     4px 3px white;
}
	
/* Sections Styling */

.name {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 1.8em;
}
    .pinfo {
  margin-top: 160px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; 
  padding: 10px;
  border-left: 4px solid gray;
}
  
.education, .experience, .skills {
  margin: 20px;
  padding: 10px;
  border-left: 4px solid gray;
}
	
/* Hover Styling */

.pinfo:hover, .education:hover, .experience:hover, .skills:hover {
  border-left: 5px dotted #C32933;
   background: rgba(255,255,255,0.75);
}
	
.here:hover {
	   background: rgba(255,255,255,0.75);
	   border-radius: 25px;
	}

.about {
  text-align: center;
  margin-top: 100px;
}
	
.welcome:hover img {
  filter: grayscale(100%);
  transition: filter 1.5s;
}

}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {


}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 

}
